@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  /* * {
    @apply  text-black;
  } */
  body {
    @apply bg-[#E3E6E6]  overflow-scroll!  ;

  }
}

